.apto {
    background-color: #DEDEDE;
    position: relative;
    height: 750px;
}

.enfeiteftaapt{
    position: absolute;
    background-color: #2A4451;
    width: 500px;
    height: 600px;
    top: 80px;
    right: 0;
}

.txtapto{
    position: absolute;
    top: 80px;
    left: 80px;
    width: 700px;
    z-index: 3;
}

.txtapto h1{
    position: absolute;
    top: 220px;
    font-size: 40px;
}

.txtapto h2{
    position: absolute;
    top: 280px;
    font-size: 30px;
}

.imgsaptos {
    position: absolute;
    top: 130px;
    right: 60px;
    z-index: 3;
}

.imgsaptos img {
    width: 800px;
    height: 500px;
}

.enfeites .tort{
    position: absolute;
    height: 350px;
    top: 500px;
    right: -75px;
    transform: rotate(30deg);
    z-index: 2;
}

.enfeites .pranta{
    position: absolute;
    height: 350px;
    z-index: 1;
}